/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root 
{
	
     -fx-color: #eeeeee;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.label {
	-fx-text-fill: #eeeeee;
    -fx-font-size: 16px;  
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0) , 6, 0.0 , 0 , 2 );
}

#txtWelcomeText {
	
   -fx-font-size: 42px;
   -fx-font-family: "Arial Black";
   -fx-font-style: italic;
   -fx-fill: #eeeeee;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
   
}

#lblTime
{
   -fx-font-size: 30px;
   -fx-font-family: "Arial Black";
   -fx-font-style: italic;
   -fx-fill: #eeeeee;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#lblDate
{
   -fx-font-size: 19px;
   -fx-font-family: "Arial Black";
   
   -fx-fill: #eeeeee;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 6, 0.0 , 0 , 2 );
}

#lblNames
{
   -fx-font-size: 16px;
   -fx-font-family: "Arial Black";
   -fx-font-style: italic;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#lblPassword
{
	-fx-font-size: 12px;

}
#lblStatus
{
	-fx-text-fill: red;
}
#lblEmail
{
	-fx-font-size: 12px;
}
